@font-face {
    font-family: "Geist";
    src: url("./Geist/1.6.0/geist.woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("./Geist/1.6.0/geist-italic.woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Geist Mono";
    src: url("./Geist/1.6.0/geist-mono.woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist Mono";
    src: url("./Geist/1.6.0/geist-mono-italic.woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}