@import url('https://s4.zstatic.net/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css');

:root {
    --q-font: system-ui, sans-serif, serif, monospace;
    --q-code-font: "Cascadia Mono", "Consolas", "Menlo", "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Roboto Mono", "San Francisco Mono", monospace;
    --q-serif-font: "Times New Roman", Times, serif;
}

body {
    margin: 0;
    font-size: 16px;
    background-color: #eee;
    font-family: var(--q-font);
    font-weight: 400;
}

*,
p {
    scrollbar-width: thin;
    scrollbar-color: #00ff6e75 #0000;
    margin: 0;
}

::selection {
    background-color: #00ff6e50;
}

a {
    display: inline;
    text-decoration: underline;
    color: #00cc00;
}

a:hover {
    color: #007700;
}

.alert {
    border-radius: 15px;
    padding: 1rem 2rem;
}

input[type="radio"],
input[type="checkbox"],
select,
label {
    cursor: pointer;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    touch-action: manipulation;
}

.bodyy-title {
    margin-bottom: 72px;
}

.bodyy-title h1 img {
    max-width: 100%;
}

.bodyy-title h1,
.bodyy-title h3 {
    margin-bottom: 20px;
    font-weight: bold;
}

.q-form {
    background-color: #00ff6e10;
    padding: 12px 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: none;
    border-radius: 0px !important;
}

.q-form:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #aaa;
    background-color: #00ff6e10;
}


.label-radio {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #aaa;
    padding: 6px 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    color: inherit;
}

.label-radio:hover {
    color: #007700;
}

input[type="radio"]:checked + .label-radio {
    outline: 0;
    box-shadow: none;
    background-color: #00ff6e25;
}





.btn-q {
    background-color: #00ff6e20;
    padding: 9px 12px;
    border: 1px solid #aaa !important;
    color: #333 !important;
    transition: all 200ms ease-in-out;
    border-radius: 0px !important;
    text-decoration: none !important;
    font-weight: bold;
}

.btn-q:hover {
    background-color: #00ff6e50;
    cursor: pointer;
}

.btn-q:active {
    background-color: #00ff6e50 !important;
}

.btn {
    padding: 9px 12px;
    border: 1px solid #aaa !important;
    color: #333 !important;
    transition: all 200ms ease-in-out;
    text-decoration: none !important;
    border-radius: 0px !important;
}

.btn:hover {
    cursor: pointer;
}

.btn.btn-blue {
    background-color: #0096ff25;
}

.btn.btn-blue:hover {
    background-color: #0096ff50;
}

.btn.btn-red {
    background-color: #ff001525;
}

.btn.btn-red:hover {
    background-color: #ff001550;
}

.btn.btn-green {
    background-color: #00ff6e20;
}

.btn.btn-green:hover {
    background-color: #00ff6e50;
}

.btn-q-form {
    background-color: #eee;
    border: 1px solid #ccc !important;
    display: inline-block;
}

.btn-q-form:hover {
    background-color: #ddd;
}

.btn-q-form:active {
    background-color: #ccc !important;
}

.h-20vh {
    height: 20vh;
}

.color-9 {
    color: #999;
}

.color-9 a {
    color: #999;
}

.br-15 {
    border-radius: 15px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.mr-a a {
    margin-right: 1.5rem;
}

.ml-a a {
    margin-left: 1.5rem;
}

.no-a a {
    text-decoration: none;
}

.no-a a:hover {
    text-decoration: underline;
}

svg {
    margin-bottom: 3px;
}

.font-code {
    font-family: var(--q-code-font);
    overflow-wrap: break-word;
    word-break: break-all;
    overflow: auto;
}

.dropdown-menu {
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 15px;
    border: 1px solid #eee;
    min-width: 0px;
    font-size: 14px;
}

.dropdown-menu .dropdown-item {
    border-radius: 10px;
    color: #333;
    border: 1px solid #ffffff00;
    transition: all 300ms ease-in-out;
}

.dropdown-menu .dropdown-div {
    padding: 5px 15px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #dddddd50;
}

.dropdown-menu .dropdown-item.active {
    background-color: #00cc0030;
    color: #333 !important;
    border: 1px solid #00cc0045;
}

.dropdown-menu .dropdown-item:active {
    background-color: #dddddd50;
}

.dropdown-menu .dropdown-item svg {
    margin-right: 0.5rem;
    margin-bottom: 3px;
}

.dropdown-div .dropdown-height {
    max-height: 100px;
    overflow: auto;
}

#tagid {
    display: none;
}

.seven0daohanglan {
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    background-color: #ffffff90;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 3px #00000010;
}

.daohang-top {
    background-color: #eee;
    color: #000;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
    font-size: 14px;
}

.seven0daohanglan .navbar,
.container-fluid {
    background-color: #ffffff00;
}

.seven0daohanglan .nav-item:not(.seven0daohanglan .d-flex .nav-item) {
    margin-right: 10px;
}

.seven0daohanglan .d-flex .nav-item {
    margin-right: 5px;
}

.seven0daohanglan .nav-item .nav-link {
    color: #777;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    border: 1px solid #ffffff00;
    transition: all 300ms ease-in-out;
}

.seven0daohanglan .nav-item .nav-link:hover {
    color: #333;
    background-color: #dddddd50;
}

.seven0daohanglan .nav-item .nav-link.active {
    background-color: #00cc0030;
    color: #333 !important;
    border: 1px solid #00cc0045;
}

.seven0daohanglan .navbar .logo {
    width: auto;
    height: 27px;
}

.seven0daohanglan .navbar-toggler {
    border: 1px solid #0000;
}

.seven0daohanglan .navbar-toggler:focus {
    box-shadow: 0 0 5px 5px #00cc0050;
}





.footer-div {
    text-align: center;
    font-size: 12px;
}

.icp-beian {
    width: auto;
    height: 12px;
    margin-bottom: 2px;
}

.footer-div a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

.footer-div a:hover {
    color: #333;
    border: none;
}






.updatelogs h3 {
    margin-bottom: 24px;
    margin-top: 15vh;
    border-bottom: 2px solid #ddd;
    text-align: center;
    font-weight: 700;
}

.updatelogs p {
    text-indent: 2rem;
    margin-bottom: 1rem;
}

.updatelogs h3 p {
    text-indent: 0;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
}

.updatelogs .alert p {
    text-indent: 0;
    margin-bottom: 0;
}

.updatelogs pre {
    padding: 1rem 2rem;
    margin: 1rem 0;
    background-color: #eee;
    border-radius: 10px;
}





.documents {
    font-weight: 300;
}

.documents pre {
    background-color: #f1f1f1;
    color: #333;
    overflow-x: auto;
    padding: 18px 36px;
    font-size: 14px;
    border-radius: 10px;
    font-family: var(--q-code-font) !important;
    font-weight: normal;
    margin: 1rem 3rem;
}

.documents .mulu a {
    display: block;
    text-decoration: none;
}

.documents .mulu a:hover {
    text-decoration: underline;
}

.documents h2 {
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.documents h4 {
    border-top: 1px solid #ddd;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    font-weight: 300;
}

.documents h2 a,
.documents h4 a {
    text-decoration: none;
}

.documents h2 a:hover,
.documents h4 a:hover {
    text-decoration: underline;
}

.documents p {
    text-indent: 2rem;
    margin: .5rem 2rem;
}

.documents img {
    max-width: 100%;
    padding: 1rem 2rem;
}

qd {
    font-family: var(--q-font);
    display: inline;
    font-size: inherit;
    text-decoration: underline;
    font-weight: 700;
    color: inherit;
}
